@import "./theme/variables";
@import "./theme/mixin";

footer {
    background: $brand-footer-bg;
    color: $brand-white;
    margin-top: 96px;
    padding: 64px 0 82px;
  }
  
  .footer-wrapper {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-logo-wrapper {
    width: 190px;
    p {
      font-size: 16px;
      line-height: 21px;
      letter-spacing: -0.05em;
    }
  
    p:last-child {
      margin-top: 18px;
    }
  }
  
  .footer-logo {
    width: 85px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $brand-black;
    border-radius: 50%;
    background: $brand-white;
    font-weight: bold;
    font-size: 36.0169px;
    line-height: 47px;
    letter-spacing: -0.03em;
    margin-bottom: 40px;
  }
  
  .footer-links-wrapper {
    width: 475px;
  }
  
  .social-links-wrapper p {
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.05em;
    margin-bottom: 16.4px;
  }
  
  .social-links a {
    margin-right: 26.07px;
  }